numpy~=1.26.3
brickschema~=0.7.2
pandas~=2.1.4
rdflib~=6.3.2
setuptools~=69.0.3
statsmodels~=0.14.1
plotly~=5.18.0
buildingmotif~=0.2.0b0
pyarrow~=14.0.2
matplotlib~=3.8.2
PyYAML~=6.0.1
inquirer~=3.2.3
seaborn~=0.13.1